/* ! Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0px solid grey;
}
:root {
  /* ! Primary */
  --linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --red: hsl(0, 100%, 66%);
  /* ! Neutral */
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark--grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
  /* ! Font Family */
  --font-family: "Space Grotesk", sans-serif;
}
body {
  font-family: var(--font-family);
  font-size: 18px;

  min-height: 100vh;
}
/* ! utils */
.hidden {
  display: none !important;
}
.main__card {
  background: url(images/bg-main-mobile.png);
  height: 240px;
  position: relative;
}
.main__card-back {
  background: url(images/bg-card-back.png) no-repeat center center;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.main__card-back p {
  color: var(--white);
  font-size: 0.7rem;
  margin-right: 2.3rem;
}
/* !  */
.card {
  color: white;
  background-size: cover;
  width: 280px;
  height: 155px;
  position: absolute;
  margin: 1.5rem;
  border-radius: 0.4rem;
}

.main__card-front {
  background: url(images/bg-card-front.png) no-repeat center center;
  padding: 1rem 1.3rem;

  left: 0;
  bottom: -50px;
}
.main__card-front img {
  height: 30px;
}
.card__front-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main__card-front h2 {
  font-size: 1rem;
  font-weight: lighter;
  letter-spacing: 3px;

  padding-top: 2rem;
  grid-column-start: span 2;
}
.main__card-front h3 {
  font-size: 0.6rem;
  font-weight: lighter;
  letter-spacing: 2px;
  text-transform: uppercase;

  padding-top: 1rem;
}
/* ! form */
.main__form {
  margin: 1.5rem;
  margin-top: 5rem;

  display: flex;
  flex-direction: column;
}
.main__form h2 {
  font-size: 0.7rem;
  font-weight: lighter;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.main__form input {
  border: 1px solid var(--light-grayish-violet);
  padding: 0.6rem;
  margin: 0.4rem 0;
  border-radius: 0.4rem;

  font-size: 1rem;
}
.main__form-name input {
  width: 100%;
}
.main__form-card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.form__card-number {
  grid-column-start: span 2;
}
.form__card-number input {
  width: 100%;
}
.form__card-date {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.form__card-date input {
  width: 90%;
}
.form__card-cvc input {
  width: 100%;
}
button {
  color: var(--white);
  font-size: large;
  font-weight: light;
  letter-spacing: 1px;

  background: var(--very-dark-violet);
  padding: 1rem;
  margin-top: 1rem;

  border-radius: 0.5rem;
}
.main__form-submitted {
  margin: 5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
}
.form__submitted-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form__submitted-content h2{
  font-weight: lighter;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.form__submitted-content p{
  opacity: .7;
}
.main__form-submitted button{
  width: 100%;
  margin: 0 1.5rem;
}

.error {
  color: var(--red);
  font-size: .7rem;
  font-weight: lighter;

  margin-bottom: .4rem;
}


@media screen and (min-width: 768px) {
  body{
    background: url(images/bg-main-desktop.png) no-repeat;
  }
  main{
    display: flex;
    justify-content: space-between;
  }
  .main__card{
    background: none;
    height: 100vh;
    max-width: 50%;
  }
  .main__card-back{
    bottom: 150px;
    left: 320px;
    align-self: center;
  }
  .main__card-front{
    bottom: 330px;
    left: 250px;
  }
  .main__form{
    max-width: 350px;
    align-self: center;
    margin-right: 20rem;
  }
  .main__form-submitted{
    margin-right: 20rem;
  }
}
